li {
    float: left;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    text-align: center;
}

li a {
    display: flex;
    width: 90px;
    height: 20px;
    background-color: lightgray;
    border-radius: 9px;
    list-style: none;
    text-align: center;
    padding-left: 20px;
}

#div_3 {
    width: 800px;
    height: 90px;
    text-align: center;
    margin-right: auto;
}

#div_2 {
    text-align: center;
    float: left;
}

nav {
    width: 50px;
}

#box {
    width: 850px;
    height: 850px;
    background-color: black;
    float: right;
    box-shadow: gray;
    border-radius: 100px;
    padding-right: 100px;
  }

  a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    color: black;
  } 

  #div_4 {
    text-align: center;
    width: 800px;
    padding-left: 80px;
  }